*{
  margin: 0px;
  padding: 0px;
}

.container{
  border: 1px solid pink;
  width: 1366px;
  height: 4754px;
  top: 100px;
  left: 10px;
  margin-left: auto;
  margin-right: auto;

}

.box1{
  border: 1px solid white;
  width: 1366px;
  height: 110px;
  display: flex;
}
.khoomi{
  margin: 20px 80px;
}

#myinput{
    border: 1px solid #c0c0c0;
    position: relative;
    height: 40px;
    width: 600px;
   background-color: white;
   font-family: sans-serif;
   font-size: 13px;
   border-radius: 5px;
   margin: 30px 100px;
}
.cart{
  font-size: 30px;
  margin: 30px 0px 0px 0px;
  word-spacing: 20px;
  /* color: white; */
}

.box2{
    border: 1px solid #F5F5F5;
    width: 1366px;
    height: 60px;
}
.box2 li{
  float: left;
  list-style: none;
  margin: 10px 35px;
}
.nav{
  font-size: 20px;
  text-decoration: none;
}
.btn{
  height: 25px;
  width: 180px;
  font-size: 15px;
  word-spacing: 5px;
}

.leftright{
  display: flex;
  flex-direction: row;
}

.left{
  border: 1px solid DodgerBlue;
  width: 692px;
  height: 596px;
  background-color:DodgerBlue;
}
h1{
  margin: 116px 0px 0px 111px;
  font: normal ;
  word-spacing: 5px;
  font-size: 35px;
  color:#FFFFFF;
  opacity: 1;
}
p{
/* margin: 23px 111px; */
margin: 23px 40px 40px 111px;
color:#FFFFFF;
text-align: left;
/* font-family: 'Heebo', sans-serif; */
font: normal normal normal 16px/32px Heebo;
letter-spacing: -0.29px;
color: #FFFFFF;
opacity: 0.92;
}

.btn2{
  font-family: 'Heebo', sans-serif;
  font: normal normal medium 16px/21px Heebo;
  /* margin:23px 111px; */
  margin: 0px 0px 15px 111px;
  width: 137px;
  height: 50px;
  background-color: #FF4F04;
  border-radius: 5px;
  letter-spacing: -0.36px;
  color: #FFFFFF;
  opacity: 1;
}
.btn3{
  font-family: 'Heebo', sans-serif;
  font: normal normal medium 16px/21px Heebo;
  margin: 0 0;
  width: 224px;
  height: 50px;
  border-radius: 5px;
  letter-spacing: -0.36px;
  /* color: #FFFFFF; */
  opacity: 1;
}

.right{
  border: 1px solid DodgerBlue;
  width: 674px;
  height: 596px;
  background-color:DodgerBlue;
}

.Product1{
  font-family: 'Poppins', sans-serif;
  margin-top: 52px;
  text-align: center;
  font: normal normal normal 14px/19px Poppins;
  letter-spacing: -0.31px;
  color: #302F2F;
  opacity: 1;
}

.Product2{
  font-family: 'Poppins', sans-serif;
  text-align: center;
  font: normal normal 600 25px/56px Poppins;
  letter-spacing: -1.2px;
  color: #111111;
  opacity: 1;
}

.container4{
    display: flex;
    /* justify-content: space-around; */
}
.child_conten{
 /* display: flex; */
}
.left_child{

    display: flex;
    justify-content:space-around;
}

.watch{
  width: 270px;
  height: 270px;
  background-color: #F5F5F5;
  margin-right: 20px;
  border-radius: 10px;
  border: 1px solid #F8F8F8;
}

.watch img{
    width: 270px;
    height: 270px;
    border-radius: 10px;
}

.text3 h6{
text-align: center;
font: normal normal 600 16px/30px Poppins;
letter-spacing: -0.53px;
color: #111111;
opacity: 1;
}
.text3{
  display:flex;
  justify-content: space-around;
  /* justify-content: center; */
}

span{
  width: 56px;
  height: 31px;
  color: #FF4F04 !important;
  background-color: #FF4F0416;
  border-radius: 17px;
  text-align: center;
  /* font: normal normal medium 14px/17px Poppins; */
  letter-spacing: -0.31px;
  opacity: 1;
}

.btn5{
font: normal normal medium 16px/19px Roboto;
width: 224px;
height: 56px;
background-color: white;
border-radius: 5px;
margin-top: 46px;
text-align: center;
margin-bottom: 69.88px;
letter-spacing: -0.36px;
color: #302F2F;
opacity: 1;
margin-left: auto;
margin-right: auto;
}
/* .explore{
  margin-left: auto;
  margin-right: auto;
} */

.shoes{
  border: 2px solid white;
  width: 1366px;
  height: 251px;
}

.straight1{
  font-family: 'Poppins', sans-serif;
  margin-top: 79px;
  text-align: center;
  font: normal normal normal 14px/19px Poppins;
  letter-spacing: -0.31px;
  color: #111111;
  opacity: 1;
}

.straight2{
  font-family: 'Poppins', sans-serif;
  text-align: center;
  font: normal normal 600 25px/56px Poppins;
  letter-spacing: -1.2px;
  margin-bottom: 42px;
  color: #111111;
  opacity: 1;
}


/* -----------------------------card2 -----------------------------*/
.container2{
    display: flex;
    justify-content: space-around;
}
.child_conten{
 /* display: flex; */
}
.left_child{
    display: flex;
    justify-content:space-around;

}
.card{
     width: 255px;
     height: 313px;
     background-color: #F5F5F5;
     margin-right: 30px;
     margin-bottom: 42px;
     border-radius: 10px;
}
 .text h6{
   font-family: 'Poppins', sans-serif;
   text-align: center;
   font: normal normal 600 18px/32px Poppins;
   letter-spacing: -0.33px;
   color: #111111;
   opacity: 1;
 }
 .text {
   display:flex;
    justify-content: space-around;
 }
 .price{
   width: 63px;
   height: 34px;
   color: #FF4F04 !important;
   background-color: white;
   border-radius: 17px;
   text-align: center;
   letter-spacing: -0.36px;
   opacity: 1;
 }
.card img{
    width: 214px;
    height: 214px;
    padding-left: 21px;
}
.card2{
    width: 255px;
    height: 325px;
    background-color: #F5F5F5;
    margin-right: 30px;
    border-radius: 10px;
}
.card2 img{
    width: 214px;
    height: 214px;
    padding-left: 21px;
}

.right_child {
}
.right_child img{
    width: 540px;
    height: 680px;
    opacity: 1;
    margin-right: 128px;
}

.export{
margin-top: 60px;
width: 224px;
height: 56px;
border: 1px solid #707070;
font-family: 'Poppins', sans-serif;
text-align: center;
font: normal normal medium 16px/19px Roboto;
letter-spacing: -0.36px;
color: #302F2F;
text-transform: capitalize;
opacity: 1;
border-radius: 5px;
margin-bottom: 49px;
margin-left: auto;
margin-right: auto;
}

.trending1{
  font-family: 'Poppins', sans-serif;
margin-top: 128px;
text-align: center;
font: normal normal normal 14px/19px Poppins;
letter-spacing: -0.31px;
color: #302F2F;
text-transform: uppercase;
opacity: 1;
}

.trending2{
  font-family: 'Poppins', sans-serif;
  text-align: center;
  font: normal normal 600 30px/56px Poppins;
  letter-spacing: -1.44px;
  color: #111111;
  text-transform: uppercase;
  opacity: 1;
  margin-bottom: 42px;
}
     /* 1 image row */

.container3{
    display: flex;
    /* justify-content: space-around; */
}
.child_conten{
 /* display: flex; */
}
.left_child{

    display: flex;
    justify-content:space-around;
}

.card3{
  width: 269px;
  height: 269px;
  background-color: #F5F5F5;
  margin-right: 44px;
  border-radius: 10px;
}

.card3 img{
    width: 269px;
    height: 269px;
    border-radius: 10px;
    margin-bottom: 11px;
}

.text2 h6{
  font-family: 'Poppins', sans-serif;
  text-align: center;
  font: normal normal medium 16px/26px Poppins;
  letter-spacing: 0px;
  color: #111111;
  opacity: 1;
}
.text2{
  display:flex;
  justify-content: space-around;
}

.price2{
  width: 59px;
  height: 32px;
  color: #FF4F04 !important;
  background-color:  #FF4F0416;
  border-radius: 17px;
  text-align: center;
  letter-spacing: -0.31px;
  opacity: 1;

}
.child_conten{
  margin-bottom: 58px;
}

.shoesfooter{
  margin-top: 187px;
}

.footer{
 dispaly:flex;
}

.endfooter{
   display: flex;
  justify-content: space-around;
}
.footerlorem{
margin-top: 75px;
font-family: 'Roboto', sans-serif;
text-align: left;
/* margin-left: 88px; */
font: normal normal normal 16px/26px Roboto;
letter-spacing: -0.2px;
color: #302F2F;
opacity: 1;
}

.footerright{
display: flex;
margin-top: 67px;
}
.footerright li {
 /* padding-top: 19px; */
 margin-top: 19px;
}
.item1 {
font-family: 'Roboto', sans-serif;
text-align: left;
font: normal normal normal 14px/26px Roboto;
letter-spacing: -0.17px;
color: #302F2F;
opacity: 1;
}

.item2 {
  font-family: 'Roboto', sans-serif;
  text-align: left;
  font: normal normal normal 14px/26px Roboto;
  letter-spacing: -0.17px;
  color: #302F2F;
  opacity: 1;
  margin-left: 100px;
}

.item3{
  font-family: 'Roboto', sans-serif;
  text-align: left;
  font: normal normal normal 14px/26px Roboto;
  letter-spacing: -0.17px;
  color: #302F2F;
  opacity: 1;
  margin-left: 100px;
}

li{
  list-style: none;
}
